.theos/
packages/
.DS_Store
/Resources/Frameworks
/Resources/*.dylib
/lib/*.a
pairing/
build/
xcuserdata/
*.ipa
*.deb
package-root
rust-core/target/
Filos.xcodeproj/
DerivedData
build/
.github/workflows/*.log
